@import "tailwindcss";

/* Custom Color Variables */
@theme {
  --color-primary-bg: #1A1D21;
  --color-secondary-bg: #22252A;
  --color-primary-accent: #01579b;
  --color-secondary-accent: #ec407a;
  /* #2E97E5; */
  --color-tertiary-accent: #E7DBF2;
  --color-primary-text: #E0E2E7;
  --color-secondary-text: #8B8F99;
}
